# TRAEFIK_DOMAIN=example.com
TRAEFIK_DOMAIN=

# id -u
UID=1001
# id -g
GID=1001

# Authentik settings
AUTHENTIK_CLIENT_ID=
AUTHENTIK_SECRET=

# Superuser settings
ADMIN_USER=admin
ADMIN_PASSWORD=

# Paperless settings
## Long string of random chars, just faceroll something
PAPERLESS_SECRET_KEY=
PAPERLESS_FILENAME_FORMAT={{ correspondent }}/{{ created_year }}-{{ created_month }}-{{ created_day }}_{{ title }}
PAPERLESS_OCR_LANGUAGE=swe
PAPERLESS_OCR_LANGUAGES="eng swe"
PAPERLESS_DEFAULT_GROUPS=Basic
TZ=Europe/Berlin

# Persistent storage settings
DATA_DIR=/mnt/paperless/data
DB_DIR=/mnt/paperless/db

# Database settings
DB_NAME=paperless
DB_USER=paperless
DB_PASS=paperless

# Email settings
EMAIL_HOST=smtp.protonmail.ch
# SSL: 465 | TLS: 587
EMAIL_PORT=587
EMAIL_USE_SSL=false
EMAIL_USE_TLS=true
EMAIL_USER=
EMAIL_PASSWORD=
